<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dsm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,38}</string>
                <key>spriteSourceSize</key>
                <string>{100,38}</string>
                <key>textureRect</key>
                <string>{{633,1},{100,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qtr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,111}</string>
                <key>spriteSourceSize</key>
                <string>{630,111}</string>
                <key>textureRect</key>
                <string>{{1,1},{630,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,111}</string>
                <key>spriteSourceSize</key>
                <string>{630,111}</string>
                <key>textureRect</key>
                <string>{{1,114},{630,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>one.png</string>
            <key>size</key>
            <string>{672,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87079d76c6caffd7b42e2ae4f21d6290:5d6c608f401b1f8c69232a5739249c35:f466056edada42f00e5ee9bc1a3acaf6$</string>
            <key>textureFileName</key>
            <string>one.png</string>
        </dict>
    </dict>
</plist>
